body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(206, 174, 238);
  background: linear-gradient(90deg, rgba(206, 174, 238, 1) 0%, rgba(233, 190, 148, 1) 100%);
}

.magicButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.buttonListContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

ul {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  color: #f0f0f0;
  padding: 8px 16px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  background-color: #fd7e00;
  font-size: 1rem;
  font-weight: 600;
}

.lightButton {
  background-color: #f2e4ff;
  color: #333;
  padding: 8px 16px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
}

.darkButton {
  background-color: #5a2a89;
  color: #fff;
  padding: 8px 16px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 8rem;
  height: 2rem;
}