.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(72, 129, 79);
}
.button-list{
  display: grid;
grid-template-rows: auto;
  align-items: center;
  gap: 15px;
}
.btn-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.btn{
  padding: 10px;
  background-color: rgb(49, 86, 99);
  color: aliceblue;
  border-radius: 10px;
  box-shadow: none;
  border: none;
}
